<nav class="navigation-bar">

    <div>
        <a ng-link="['Products']">Whatapop</a>

    </div>

    <div>

        <input type="text"
               ng-model="search"
               placeholder="Buscar producto..."
               class="search-box">
    </div>

    <div>
        <select name="" id="categorieSelector" ng-model="categoryFilter">
            <option value=""> Todas las Categorias </option>
            <option ng-repeat="category in $ctrl.categories"
                    value="{{ category.name }}">{{ category.name }}</option>
        </select>
    </div>

    <div>
        <select name="" id="orderSelector" ng-model="orderBy">
            <option value=""> Ordenar por </option>
            <option value="name">Nombre</option>
            <option value="price">Precio</option>
            <option value="state">Estado (en venta / vendido)</option>
            <option value="published_date">Fecha de publicación</option>
        </select>
    </div>

</nav>

<div class="fondoWeb">

    <product-repeat ng-repeat="product in $ctrl.products
                    | filter: search
                    | filter: categoryFilter
                    | orderBy: orderBy
                    | filter: usersInDistance"
                    product="product"
                    class="productBox"
                    ng-link="['ProductDetail', { id: product.id }]">

    </product-repeat>

</div>