<div>
    <div>
        <img ng-src="{{ ::getImageUrl(product.photos[0]) }}"
             class="productImage">
    </div>

    <div class="productInfo">

        <strong>{{ ::product.name | OnlyName }}</strong>
        <br/>
        <small class="secundario">{{ ::product.category.name }}</small>
        <br/>

        <span class="price"
              ng-if="selling">
            {{ ::product.price | currency: "€" }}
        </span>
        <span class="sold"
              ng-if="!selling">
            Vendido
        </span>
        </br>
        <small class="secundario">Publicado hace {{ ::product.published_date | DaysAgo}}</small>


    </div>


</div>