<nav class="navigation-bar">

    <div>
        <a ng-link="['Products']"
           ng class="appName">
            Whatapop
        </a>

    </div>

    <div>

        <input type="text"
               ng-model="search.name"
               ng-model-options="{ debounce: 500 }"
               placeholder="Buscar por nombre..."
               class="search-box">
    </div>

    <div>
        <select name="categorySelector" id="categorySelector" ng-model="categoryFilter.category.name">
            <option value=""> Todas las Categorias </option>
            <option ng-repeat="category in $ctrl.categories"
                    value="{{ category.name }}">{{ ::category.name }}</option>
        </select>
    </div>

    <div>
        <select name="orderSelector" id="orderSelector" ng-model="orderBy" ng-init="orderBy = '-published_date'">
            <option value="-published_date"> Ordenar por Fecha </option>
            <option value="name"> Ordenar por Nombre</option>
            <option value="price"> Ordenar por Precio</option>
        </select>
    </div>

    <div>
        <input type="checkbox" ng-model="state.state"
               ng-true-value="'selling'"
               ng-false-value="''">
        <span class="soloVentaText"> Solo los que están en venta</span>

        </option>
        <button ng-click="$ctrl.distanceFilter()"
                ng-show="$ctrl.buttonActivate"
                ng-class="{distanceButton: $ctrl.buttonState}">
            A menos de 5km
        </button>
    </div>

</nav>

<div class="fondoWeb">

    <product-repeat ng-repeat="product in $ctrl.products
                    | filter: search
                    | filter: categoryFilter
                    | filter: state
                    | orderBy: orderBy"
                    product="product"
                    class="productBox"
                    ng-link="['ProductDetail', { id: product.id }]">

    </product-repeat>

</div>