/*Barra de navegacion*/
.navigation-bar div{
    display: inline-block;
    margin: 10px;
}
.navigation-bar {
    background: crimson;
}

.navigation-bar a{
    text-decoration: none;
    font-size: 35px;
    color: #00AA00;
}

.searchButton {
    color: #CCCCCC;
}

.container {
    align-content: center;
    margin-bottom: 100px;
}

.appName {
    margin-right: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    text-shadow:  2px 2px yellow;
}

.soloVentaText {
    color: whitesmoke;
    margin-right: 20px;
}

.distanceButton {
    background-color: yellow;
    color: darkslategrey;
}


/*Pantalla de productos*/

.fondoWeb {
    background-color: lightgrey;
    padding: 20px 100px 200px 100px;
}

.categories li {
    display: inline-block;
    padding: 10px 20px 0px 20px;
}
.productBox {
    width: 180px;
    display: inline-block;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    background-color: whitesmoke;
}

.productImage {
    width: 180px;
    border-radius: 9px 9px 0 0;
    border-bottom: 1px dotted grey;
}

.productInfo {
    width: 180px;
    padding: 5px 8px 8px 8px;
}

.secundario {
    color: darkgray;
}

.sold {
    color: red;
    font-style: italic;
}

.price {
    color: #00AA00;
}

/*Pantalla de detalle de producto*/
.ficha {
    width: 400px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: whitesmoke;

}

.fichaFav {
    width: 300px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: whitesmoke;
}

.imageBox {
    width: 300px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px grey;
    background-color: whitesmoke;
}

.imageBox img {
    width: 300px;
}

.avatar {
    width: 50px;
    border-radius: 20px;
    border: 1px solid black;
}

.favButton {
    background: #FEEB32;
}

.angular-google-map-container {
    height: 200px;
}